@page "/"

<PageTitle>Home</PageTitle>

<h1>About</h1>

<div class="container my-4">
    <div class="card mb-4 shadow-sm">
        <div class="card-header bg-dark text-light">
            <h5 class="mb-0">Authors</h5>
        </div>
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item">Kate Wang</li>
                <li class="list-group-item">Martin Allen</li>
            </ul>
        </div>
    </div>

    <div class="card mb-4 shadow-sm">
        <div class="card-header bg-dark text-light">
            <h5 class="mb-0">Snake Games Database</h5>
        </div>
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item">
                    Make sure WebServer is running<br>
                    <a target="_blank" href="http://localhost">Quick Access</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="card shadow-sm">
        <div class="card-header bg-dark text-light">
            <h5 class="mb-0">Added Functionality</h5>
        </div>
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item">
                    Additional navigation by using arrow keys
                </li>
                <li class="list-group-item">
                    Powerup animation: Blinks powerup upon death
                </li>
                <li class="list-group-item">
                    Displaying a player's name does not interfere with the player's view
                </li>
                <li class="list-group-item">
                    Includes two death animations: a ghost leaving the body and a tombstone near death location
                </li>
            </ul>
        </div>
    </div>

    <div class="card mt-4 shadow-sm">
        <div class="card-header bg-dark text-light">
            <h5 class="mb-0">Credits</h5>
        </div>
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item">Wall, powerup, and death animation ghost sprites created by Kate Wang</li>
                <li class="list-group-item"><a href="https://www.flaticon.com/free-icons/rip" title="rip icons">Rip icons created by Maximka - Flaticon</a></li>
            </ul>
        </div>
    </div>
</div>

<style>
    .card-body{
        background: #DDE0E3;
        border: black solid 1px;
    }
    ul>li{
        background: #DDE0E3 !important;
        border: none;
    }
</style>